/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!mhadesh yl3ab fehom w hab3tloko videos bt2ol ehh dah belzabt !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11*/

/*start global rules */

*{
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    scroll-behavior: smooth;

}

body{
    font-family: 'Cairo', sans-serif;
    
}



.container {               /*eshan el haga tege fe nos el safha w bardo el hagat fe back ground matt2sarsh w temla el shasha kolha | kol el site 3la nafs el mostwa*/
    /* width: 600px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;    /*kol dah3ashan el noskha bta3et el phone matb2ash el kalam awil el page*/
    margin-right: auto;  
}

/* mobile from zero to 768 */
@media(min-width: 768px) {
  .container{
    width: 750px;
  }
}

/* medium screen */
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}

/* large screens */
@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*end global rules */

/* tkhtefi fel mobile action yhsal fel mobile*/
@media (max-width:767px) {
    
}

/* tzher fel mobile */
@media (min-width:767px) {
    
}

/* ==================================================================================================================================================================== */


.header{
    position: relative;
}

.header .container{
    display: flex;
    width: 100%;
    height: 50px;
    background-image: url(../sewar/wp9095239.jpg);
    width: 100%;
    background-size: cover;
    justify-content: end;
    position: relative;
/* 3amlt flex 3ashan ywza3 el elelmt men el akhir 3shan lw feh logo wla haga ythat fel awil 
   width hena ma3na khod el safha kolha bel 3ard
*/

}

ul{
    list-style: none;        /*3ashan ashel el dot aly ganbha*/
    position: relative;
}

.header .container ul{
    display: flex;
    flex-direction: row-reverse;  
    /*mkasel a3keshom men el html bsraha*/
}

.header .container ul nav a{
    padding: 14px 50px;
    display: block;            /*lazem display block 3shan y respect el paddiing w el heigth w el kalam dah*/
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.header .container ul a:hover{
    color:aqua;
    /* border-bottom: 1px solid aqua; */
    padding-top: 1px;}


 .header .container nav .icon:hover + ul{
    display: block;
 }

.header img{
    height: 60px;
    height: 60px;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%)   /*3ashan awstanha belzabt fel y-axis*/
}

.header p{
    position: absolute;
    left: 44px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 22px;
    font-style: italic;
}

.header p::first-letter {
        color: #f9b940;
    font-size: xx-large;
}

.header .container ul{
    display: flex;
    flex-direction: row-reverse;    /*mkasel a3keshom men el html bsraha*/
}

.header .container ul a{
    padding: 14px 50px;
    display: block;            /*lazem display block 3shan y respect el paddiing w el heigth w el kalam dah*/
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.header .container ul a:hover{
    color:aqua;
    /* border-bottom: 1px solid aqua; */
    padding-top: 1px;
    
    
}



/* tkhtefi fel mobile .. action yhsal fel mobile*/
/*  tekhtifi fel mobile w tzher fel ba2i*/
@media (max-width:767px)
 {
   .header .container ul li a{
        /* display: none; */
        padding: 0;
        color: black;
        
    }

  .header .container ul li {
    padding-left: 20px;

  }


   
    .header .container ul{
        padding: 52px 34px;
        display: flex;
        flex-direction: row;
        z-index: 5;
        position: absolute;
        right: 1px;
        top: 19px;
    }
    }


    






/*tzher fel mobile*/

/* action yhsal ba3d el mobile */




/* start landing video */
video{
    width: 100%;
    position: relative;
    top: 3px;     
    /* 3ashan a3mil space fadi fo2 keda */
}
.landing-video{
    position: relative;
}
.landing-video::before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 3ashan y cover el mohtawa kolo */
    background-color: rgb(0 0 0 /50%);
    z-index: 2;
}
.landing-video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    background-color: rgba(0 0 0 /29%);
    color: white;
    text-align: center;

}

.landing-video .text h2{
    padding-bottom: 13px;

}

.landing-video .text p{
    font-size:29px;
}
/* start about */

#About{
    width: 100%;
    min-height: 386px;
    background-color:#ebeced;
    padding-top: 60px;
    padding-bottom: 15px;
    margin-top: 40px;
}

.about-section .container{
    position: relative;
}

.about-section h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 80px;
    color:#800000	;
    font-weight: normal;
    text-transform: uppercase;
}

.about-section p{
    line-height: 2.5;
    color: #777;
}

.about-section img{
    
    height: 123px;
    position: absolute;
    top: 0;
    right: 0;

}

/* action yhsal fel mobile */
@media (max-width: 767px)
{
  .about-section h2 {
    font-size: 45px;
  }
 .about-section img{
    display: none;

 }
}
/* end about */
/* start contacts */
#Contacts{
    width: 100%;
    min-height: 330px;  /*lazem min 3shan ytmaded m3aia w maybozsh fel mobile*/
    padding-top: 60px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.contacts-section h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 80px;
    color:#800000	;
    font-weight: normal;
    text-transform: uppercase;
}

@media (max-width: 767px)
{
  .contacts-section h2 {
    font-size: 45px;
  }
}

.contacts-section .info{
    text-align: center;
}

.contacts-section .info p{
    font-size: 23px;
    letter-spacing: -1px;
}

.contacts-section .info .mail{
    color: 	#00008b;
    font-size: 23px;
    text-decoration: none;
    display: block;
    margin: 15px 0px 15px 0;
}

.contacts-section span{
font-size: 17px;
font-weight: 600;
    
}

.contacts-section .social a{
    color: #EBEC45;
    padding-left: 23px;
    font-size: 20px;
    text-decoration: none;
}
/* end contacts */

/* start footer */
.footer{
    background-color: #2c4755;
    color: white;
    text-align: center;
    padding: 27px 3px 10px;
    font-size: 20px;

}
.footer span{
    color:#f9b940;
}

/* end footer */




